@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer[LocalizationConstant.Business];
}

<!--====== Page Banner Start ======-->

<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(/theme/images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">@Localizer[LocalizationConstant.Business]</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Event Start ======-->
<!--====== Event Ends ======-->