@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer[LocalizationConstant.DevPlaces];
}

<!--====== Page Banner Start ======-->

<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(/theme/images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">@Localizer[LocalizationConstant.DevPlaces]</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Gallery Start ======-->

@*<div class="gallery-page">
    <div class="container">
        <div class="row grid-masonry">
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-01.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-01.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-02.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-02.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-03.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-03.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-04.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-04.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-06.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-06.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-05.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-05.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-07.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-07.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-08.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-08.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-11.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-11.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-09.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-09.jpg" alt="gallery">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 grid-item">
                <div class="single-gallery mt-30">
                    <a class="image-popup" href="~/theme/images/gallery-masonry/gallery-10.jpg">
                        <img src="~/theme/images/gallery-masonry/gallery-10.jpg" alt="gallery">
                    </a>
                </div>
            </div>
        </div>
        <ul class="pagination-items text-center">
            <li><a class="active" href="#">01</a></li>
            <li><a href="#">02</a></li>
            <li><a href="#">03</a></li>
            <li><a href="#">04</a></li>
            <li><a href="#">05</a></li>
        </ul>
    </div>
</div>*@

<!--====== Gallery Ends ======-->