
@{
    ViewData["Title"] = "Dashboard";
}

<!--Widget-4 -->
<div class="row">
    @*<div class="col-md-6 col-xl-4">
        <div class="mini-stat clearfix bx-shadow bg-white">
            <span class="mini-stat-icon bg-info"><i class="md md-home"></i></span>
            <div class="mini-stat-info text-right text-dark">
                <span class="counter text-dark">15852</span>
                Total Vilages
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="mini-stat clearfix bx-shadow bg-white">
            <span class="mini-stat-icon bg-purple"><i class="md md-people"></i></span>
            <div class="mini-stat-info text-right text-dark">
                <span class="counter text-dark">956</span>
                Total Familys
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="mini-stat clearfix bx-shadow bg-white">
            <span class="mini-stat-icon bg-success"><i class="md md-person-outline"></i></span>
            <div class="mini-stat-info text-right text-dark">
                <span class="counter text-dark">5210</span>
                Total Members
            </div>
        </div>
    </div>*@
    <img src="~/theme/images/Welcome.jpg" />
</div> <!-- End row-->


@section PageScripts{

}