@{
    ViewData["Title"] = "Confirm email";
    Layout = "_LoginLayout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <center>
        <h1>
            Thank you for confirming your email.
        </h1>
    </center>
               
</div>
