@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles{
    <style type="text/css">
        /* .single-form {
            margin-top: 15px;
        }*/
        .login-register {
            padding-top: 50px !important;
        }

        .banner-content {
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }
    </style>
}
<!--====== Page Banner Start ======-->
<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(/theme/images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">Login</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Login Start ======-->

<section class="login-register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title">Forgot Password Your Account</h4>
                    @if (TempData["Message"] != null)
                    {
                        <div class="note">
                            <p>@TempData["Message"]</p>
                        </div>
                    }
                    <div class="login-register-form">
                        <form asp-action="ForgotPassword" method="post" id="frmForgotPassword">
                            @Html.AntiForgeryToken()

                            <div class="single-form">
                                <label for="Email">Email address *</label>
                                <input asp-for="Email" type="text" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="single-form">
                                <button id="btnForgot" type="button" class="main-btn btn-block">Forgot Password</button>
                            </div>

                            <div class="single-form d-flex justify-content-between">
                                <div class="forget">
                                    <a href="/Account/Login">Sign In</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Ends ======-->
@section Scripts{
    <script type="text/javascript">
        var $form = $('#frmForgotPassword');
        $('body').on('keypress', function (e) {
            if (e.which === 13) {
                $.validator.unobtrusive.parse($form);
                if ($form.valid()) {
                    $form.submit();
                    e.preventDefault();
                }
            }
        });

        $("#btnForgot").click(function () {
            $(this).prop("disabled", "disabled");
            $form.submit();
        });
    </script>
}
