@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_LoginLayout";
}

<div class="main-search-container full-height alt-search-box centered" data-background-image="/theme/images/listeo_bg3.jpg">
    <div class="main-search-inner">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @if (TempData["Message"] != null)
                    {
                        <div class="note">
                            <p>@TempData["Message"]</p>
                        </div>
                    }
                    <form asp-action="ResetPassword" id="frmResetPassword" method="post">
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <input asp-for="Email" type="hidden" />
                        <div class="main-search-input">

                            <div class="main-search-input-headline">
                                <h2>Reset Password</h2>
                                <h4>From cozy country homes to funky city apartments!</h4>
                            </div>

                            <div class="main-search-input-item location">
                                <div id="Email">
                                    <input asp-for="Email" type="text" value="@Model.Email" placeholder="Email" readonly="readonly">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <a href="javascript:;"><i class="fa fa-at"></i></a>
                            </div>

                            <div class="main-search-input-item search-input-icon">
                                <div id="Password">
                                    <input asp-for="Password" type="password" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="main-search-input-item search-input-icon">
                                <div id="ConfirmPassword">
                                    <input asp-for="ConfirmPassword" type="password" placeholder="Password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="main-search-input-item search-input-icon">
                                <div>
                                    <button id="btnReset" type="button" class="button">Reset</button>
                                    <button type="button" onclick="window.location.href = '/Account/Login';" class="button pull-right">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        var $form = $('#frmResetPassword');
        $('body').on('keypress', function (e) {
            if (e.which === 13) {
                $.validator.unobtrusive.parse($form);
                if ($form.valid()) {
                    $form.submit();
                    e.preventDefault();
                }
            }
        });

        $("#btnLogin").click(function () {
            $(this).prop("disabled", "disabled");
            $form.submit();
        });
    </script>
}
