@{
    ViewData["Title"] = "Familys";
}

@section PageTitle{
    <li class="active">Familys</li>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            @*<div class="card-header">
                        <a href="javascript:;" onclick="EditFamily(0);" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Family</a>
                    <h3 class="card-title">Familys</h3>
                </div>*@
            <div class="card-body">
                <table id="dtFamilys" class="table table-striped table-bordered dt-responsive  nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr role="row" class="title_datatable">
                            <th>Action</th>
                            <th>Status</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>Village Name</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- End Row -->


@section PageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            BindFamilyList();
        });

        function BindFamilyList() {
            if ($.fn.DataTable.isDataTable("#dtFamilys")) {
                $("#dtFamilys").dataTable().fnDestroy();
            }
            const family = $("#dtFamilys").DataTable({
                "sAjaxSource": "/Admin/Familys/GetFamilyList",
                "columns": [
                    {
                        "data": "id",
                        "autoWidth": false,
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row) {
                            const content = `<li><a href="javascript:;" ${dataParams("Family Detail", "view-details", data)} class="dropdown-item action"><i class="fa fa-eye" aria-hidden="true"></i> Member Details</a></li>
                            <li><a href="javascript:;" ${dataParams("Edit", "edit", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                            <li><a href="javascript:;" ${dataParams("Delete", "delete", data)} class="dropdown-item action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>`;
                            return dataTableAction(content);
                        }
                    },
                    {
                        "data": "isActive",
                        "searchable": false,
                        "orderable": false,
                        "className": "admin_toggle text-center",
                        "render": function (data, type, row) {
                            return statusToggle(row.id, data);
                        }
                    },
                    {
                        "data": "fullName",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "gender",
                        "autoWidth": false,
                        "searchable": true,
                        "render": function (data, type, row) {
                            return getGender(data);
                        }
                    },
                    {
                        "data": "phoneNumber",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "villageName",
                        "autoWidth": false,
                        "searchable": true
                    }
                ]
            });

            $('#dtFamilys').on('draw.dt', function () {
                reInitBootstrapToggle();
            });
        }


        $('#dtFamilys').on("change", ".admin_toggle", function (e) {
            const current = $(e.currentTarget).find("input");
            const id = $(current).data("id");
            $.ajax({
                url: "/Admin/Familys/ManageFamilyStatus",
                data: { id: id },
                type: "POST",
                success: function (response) {
                    updateModifiedDate(id);
                    Parivar.HandleResponse(response);
                },
                error: function (data) {
                }
            });
        });

        $('#dtFamilys').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    EditFamily(id);
                    break;
                case "view-details":
                    FamilyDetail(id);
                    break;
                case "delete":
                    DeleteFamily(id);
                    break;
                default:
            }
        });

        function DeleteFamily(id) {
            Parivar.Confirm("Delete Family", Parivar.typeModel.Warning, "Are you sure?", Parivar.typeModel.Danger, "Yes, delete it!", function () {
                $.ajax({
                    url: "/Admin/Familys/DeleteFamily",
                    data: { id: id },
                    type: "POST",
                    success: function (response) {
                        setTimeout(function () {
                            Parivar.HandleResponse(response);
                            if (response.status === 1) {
                                window.BindFamilyList();
                            }
                        }, 100);
                    },
                    error: function (data) { }
                });
            }, function () { });
        }

        function FamilyDetail(id) {
            window.location.href = `/Admin/Family/${id}`;
        }

        function EditFamily(id) {
            window.location.href = `/Admin/EditFamily/${id}`;
        }

            //function DeleteFamily(id) {
            //    Parivar.Confirm("Delete Family", Parivar.typeModel.Warning, "Are you sure?", Parivar.typeModel.Danger, "Yes, delete it!", function () {
            //        $.ajax({
            //            url: "/Admin/Family/RemoveFamily",
            //            data: { id: id },
            //            type: "POST",
            //            success: function (response) {
            //                setTimeout(function () {
            //                    Parivar.HandleResponse(response);
            //                    if (response.status === 1) {
            //                        window.BindFamilyList();
            //                    }
            //                }, 100);
            //            },
            //            error: function (data) { }
            //        });
            //    }, function () { });
            //}
    </script>
}