@{
    ViewData["Title"] = "District";
}

@section PageTitle{
    <li class="active">District</li>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a href="javascript:;" onclick="AddEditDistrict(0);" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add District</a>
                <h3 class="card-title">District</h3>
            </div>
            <div class="card-body">
                <table id="dtDistrict" class="table table-striped table-bordered dt-responsive  nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr role="row" class="title_datatable">
                            <th>Name</th>
                            <th>State</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- End Row -->


@section PageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            BindDistrictList();
        });

        function AddEditDistrict(id) {
            const newUrl = `/Admin/WorldDb/AddEditDistrict?id=${id}&stateId=12`;
            $("#modalContent").load(newUrl, function () {
                showModal();
            });
        }
        function BindDistrictList() {
            if ($.fn.DataTable.isDataTable("#dtDistrict")) {
                $("#dtDistrict").dataTable().fnDestroy();
            }
            const District = $("#dtDistrict").DataTable({
                "sAjaxSource": "/Admin/WorldDb/GetDistrictList",
                "columns": [
                    {
                        "data": "name",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "state",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "id",
                        "autoWidth": false,
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row) {
                            const content = `<li><a href="javascript:;" ${dataParams("Edit", "edit", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                                             <li><a href="javascript:;" ${dataParams("Delete", "delete", data)} class="dropdown-item action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>`;
                            return dataTableAction(content);
                        }
                    }
                ]
            });
        }


        $('#dtDistrict').on("change", ".admin_toggle", function (e) {
            const current = $(e.currentTarget).find("input");
            const id = $(current).data("id");
            $.ajax({
                url: "/Admin/WorldDb/ManageDistrictStatus",
                data: { id: id },
                type: "POST",
                success: function (response) {
                    updateModifiedDate(id);
                    Parivar.HandleResponse(response);
                },
                error: function (data) {
                }
            });
        });

        $('#dtDistrict').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditDistrict(id);
                    break;
                case "delete":
                    DeleteDistrict(id);
                    break;
                default:
            }
        });

        function DeleteDistrict(id) {
            Parivar.Confirm("Delete District", Parivar.typeModel.Warning, "Are you sure?", Parivar.typeModel.Danger, "Yes, delete it!", function () {
                $.ajax({
                    url: "/Admin/WorldDb/RemoveDistrict",
                    data: { id: id },
                    type: "POST",
                    success: function (response) {
                        setTimeout(function () {
                            Parivar.HandleResponse(response);
                            if (response.status === 1) {
                                window.BindDistrictList();
                            }
                        }, 100);
                    },
                    error: function (data) { }
                });
            }, function () { });
        }
    </script>
}