@{
    ViewData["Title"] = "Village";
}

@section PageTitle{
    <li class="active">Village</li>
}

<div class="row">
    <div class="col-lg-12">
        <div class="form-group col-lg-3">
            <label for="DistrictList">District</label>
            <select id="DistrictList" asp-items="ViewBag.DistrictList as IEnumerable<SelectListItem>" class="form-control">
            </select>
        </div>
        <div class="form-group col-lg-3">
            <label for="CountyList">County</label>
            <select id="CountyList" asp-items="Enumerable.Empty<SelectListItem>()" class="form-control">
            </select>
        </div>
        
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <a href="javascript:;" onclick="AddEditVillage(0);" class="btn btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Village</a>
                <h3 class="card-title">Village</h3>
            </div>
            <div class="card-body">
                <table id="dtVillage" class="table table-striped table-bordered dt-responsive  nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr role="row" class="title_datatable">
                            <th>Name</th>
                            <th>County</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- End Row -->


@section PageScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var districtValue = parseInt($("#DistrictList").val());
            getWorldDbList(districtValue, 5).done(function (result) {
                renderDropdown("#CountyList", result);
                var countyValue = parseInt($("#CountyList").val());
                BindVillageList(districtValue, countyValue);
            });
        });

        $(document).on("change", "#DistrictList", function (e) {
            var districtValue = parseInt($(this).val());
            BindVillageList(districtValue, 0);
            getWorldDbList(districtValue, 5).done(function (result) {
                renderDropdown("#CountyList", result);
            });
        });

        $(document).on("change", "#CountyList", function (e) {
            var districtValue = parseInt($("#DistrictList").val());
            var countyValue = parseInt($(this).val());
            BindVillageList(districtValue, countyValue);
        });

        function AddEditVillage(id) {
            const newUrl = `/Admin/WorldDb/AddEditVillage?id=${id}`;
            $("#modalContent").load(newUrl, function () {
                showModal();
            });
        }
        function BindVillageList(districtId, countyId) {
            districtId = Number.isInteger(districtId) ? districtId : 0;
            countyId = Number.isInteger(countyId) ? countyId : 0;

            if ($.fn.DataTable.isDataTable("#dtVillage")) {
                $("#dtVillage").dataTable().fnDestroy();
            }
            const Village = $("#dtVillage").DataTable({
                "sAjaxSource": `/Admin/WorldDb/GetVillageList?districtId=${districtId}&countyId=${countyId}`,
                "columns": [
                    {
                        "data": "name",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "county",
                        "autoWidth": false,
                        "searchable": true
                    },
                    {
                        "data": "id",
                        "autoWidth": false,
                        "searchable": false,
                        "orderable": false,
                        "render": function (data, type, row) {
                            const content = `<li><a href="javascript:;" ${dataParams("Edit", "edit", data)} class="dropdown-item action"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                                             <li><a href="javascript:;" ${dataParams("Delete", "delete", data)} class="dropdown-item action"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>`;
                            return dataTableAction(content);
                        }
                    }
                ]
            });

            //$('#dtVillage').on('draw.dt', function () {
            //    reInitBootstrapToggle();
            //});
        }


        $('#dtVillage').on("change", ".admin_toggle", function (e) {
            const current = $(e.currentTarget).find("input");
            const id = $(current).data("id");
            $.ajax({
                url: "/Admin/WorldDb/ManageVillageStatus",
                data: { id: id },
                type: "POST",
                success: function (response) {
                    updateModifiedDate(id);
                    Parivar.HandleResponse(response);
                },
                error: function (data) {
                }
            });
        });

        $('#dtVillage').on("click", ".action", function (e) {
            const flag = $(e.currentTarget).data("flag");
            const id = $(e.currentTarget).data("id");
            switch (flag) {
                case "edit":
                    AddEditVillage(id);
                    break;
                case "delete":
                    DeleteVillage(id);
                    break;
                default:
            }
        });

        function DeleteVillage(id) {
            Parivar.Confirm("Delete Village", Parivar.typeModel.Warning, "Are you sure?", Parivar.typeModel.Danger, "Yes, delete it!", function () {
                $.ajax({
                    url: "/Admin/WorldDb/RemoveVillage",
                    data: { id: id },
                    type: "POST",
                    success: function (response) {
                        setTimeout(function () {
                            Parivar.HandleResponse(response);
                            if (response.status === 1) {
                                window.BindVillageList();
                            }
                        }, 100);
                    },
                    error: function (data) { }
                });
            }, function () { });
        }
    </script>
}